{% extends "base-layout.html" %}

{% block style %}
    .error {
        color: red
    }
{% endblock %}


{%block content %}
    <form action = "{{url_for("signup")}}", method = "POST">
        <table>
            <thead>
                <tr>
                    <th colsapn = 2>SIGNUP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label for = "username">Username</label>
                    </td>
                    <td>
                        <input name = "username" type = "text" placeholder = "USERNAME" id = "username" value = "{{username}}" />
                        <span class = "error">{{username_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "password">Password</label>
                    </td>
                    <td>
                        <input name = "password" type = "password" placeholder =  "PASSWORD" id = "password"/>
                         <span class = "error">{{password_error}}</span>
                    </td>
                </tr>
                    <td>
                        <label for = "verify">Verify password</label>
                    </td>
                    <td>
                        <input name = "verify" type = "password" placeholder = "Retype Password" id = "verify" />
                        <span class = "error">{{verify_password_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan = 2>
                        <input type = "submit" value = "SUBMIT"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
